<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">

  <meta name="HandheldFriendly" content="true"/>
  <meta name="MobileOptimized" content="320"/>
  <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
  
  <title>Adam Lastowka - {{ title }}</title>
  <meta name="description" content="{{ description }}" />
  <link rel="stylesheet" href="./../post.css">
  <script defer src="./../scripts/darkmode.js"></script>
  <script async defer src="./../scripts/parallax.js" onload="var loaded=true;"></script>


  <link rel="icon" href="./../favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="./../favicon.ico" type="image/x-icon"/>

</head>

<body>
  <div id ="bkg">

  <section id="not-background">
    <section id="sidebar">
      <div class="sticky">
        <div class="sb-big onbkg hvr-rotate"><a href="../index.html">Home</a></div><br>
        <div class="sb-big onbkg hvr-rotate"><a href="../about/index.html">About</a></div><br>
        <div class="sb-big onbkg hvr-rotate"><a href="../qa/index.html">Q&A</a></div>
        <!--<br><br><div id="dm-toggle" class="button sb-big hvr-rotate">Lights</button>-->
      </div>
    </section>

    <section id="header">

      <div class="null">
        <div id="spikes" class="vector" alt=""></div>
      </div>
      
      <div id="sitename">
        <h5>
          <a href="./../index.html">Adam<br>Lastowka</a>
        </h5>
      </div>
      
    </section>

    <div id="foreground">

      <section id="feed">
        <h1>{{ capitalizeFirst title }}</h1>

        {{{ contents }}}

        {{#if this.previous.path}}
          <a href="./../{{ toHTML this.previous.path }}">Previous Post: {{ this.previous.title }} {{ rootPath }}</a>
        {{/if}}

        {{#if this.next.path }}
          <a href="./../{{ toHTML this.next.path }}">Next Post: {{ this.next.title }} </a>
        {{/if}}
        
      </section>

      <div id="footer">

      </div>
    </div>
  </section>
</div>
</body>

</html>